page-urgent-situation {
    .content {
        background-color: #f4f4f4;
        }
    .border{
        border-bottom: solid;
        border-color: #e0e0d1;
        border-width: thin;
        }
    ion-item-divider.item.item-divider{
        height: 90px !important;
        text-align: center;
        }
}
