global-tab {
  
  div.tab {
    height: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
  }

  div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
  }

  ion-icon{
    font-size: 18px;
  }

 }
