<ion-header>
  <ion-navbar class="myNavBar">
    <img src="assets/icon/logoCircle.png">
    <div>Change Password</div>
  </ion-navbar>
</ion-header>

<ion-content class="thisContent">
  <div class="login-form">
    <ion-input type="password" placeholder="Old Password" [(ngModel)]="oldPassword"></ion-input>
    <ion-input type="password" placeholder="New Password" [(ngModel)]="newPassword" (keypress)="validate(newPassword)" (keydown)="validate(newPassword)"
      (keyup)="validate(newPassword)"></ion-input>

    <ion-item class="thisChecklist" no-lines>
      <h4> Password Must contain: </h4>
    </ion-item>
    <ion-item class="thisChecklist" no-lines>
      <h4>At least 8 characters</h4>
      <ion-icon *ngIf="isCorrectLength == true" item-end name="checkbox" isActive="false" color="light"></ion-icon>
      <ion-icon *ngIf="isCorrectLength == false" item-end name="square" isActive="false" color="light"></ion-icon>
    </ion-item>
    <ion-item class="thisChecklist" no-lines>
      <h4>One Number (1234..)</h4>
      <ion-icon *ngIf="hasNumber == true" item-end name="checkbox" isActive="false" color="light"></ion-icon>
      <ion-icon *ngIf="hasNumber == false" item-end name="square" isActive="false" color="light"></ion-icon>
    </ion-item>
    <ion-item class="thisChecklist" no-lines>
      <h4> One Special Character (@#$%..) </h4>
      <ion-icon *ngIf="hasSpecial == true" item-end name="checkbox" isActive="false" color="light"></ion-icon>
      <ion-icon *ngIf="hasSpecial == false" item-end name="square" isActive="false" color="light"></ion-icon>
    </ion-item>
    <ion-item class="thisChecklist" no-lines>
      <h4> One Capital Character (ABCD..) </h4>
      <ion-icon *ngIf="hasCapital == true" item-end name="checkbox" isActive="false" color="light"></ion-icon>
      <ion-icon *ngIf="hasCapital == false" item-end name="square" isActive="false" color="light"></ion-icon>
    </ion-item>
    <ion-item class="thisChecklist" no-lines>
      <h4> One Lowercase Character (abcd..) </h4>
      <ion-icon *ngIf="hasLower == true" item-end name="checkbox" isActive="false" color="light"></ion-icon>
      <ion-icon *ngIf="hasLower == false" item-end name="square" isActive="false" color="light"></ion-icon>
    </ion-item>

    <button ion-button block class="buttons" id="regisBtn" [disabled]="changePasswordButtonDisabled" (click)="changePassword(oldPassword,newPassword)">Change Password</button>
  </div>
  <ion-footer text-left class ="thisFooter">
    <button class="previous-button" ion-button icon-start (click) = "Back()">
      <img class="chevron-left" src="assets/ChevronLeft.svg">
      Previous
    </button>
  </ion-footer>
