event-list-infinite {
  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .item-ios.item-block .item-inner {
    border-bottom: 0;
  }

  .background-request-assistance {
    background-color: rgba(255, 0, 0, 0.2);
  }
}
