page-confirm-password {

    text-align: center;
    font-family:  'Montserrat-Regular';
    font-size: 18px;
    color: white;

    .myNavBar {
      height: 150px;

      .toolbar-background {
        background-color: rgb(71,119,110);
      }

      img {
        width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .thisContent {
      background-color:rgb(110,193,179);

      .login-form {
        margin: 20px 30px;
      }

      .thisChecklist {
        color: white;
        width: 100%;
        padding: 0px;
        background-color: rgb(110,193,179);
        height: 0px;
        min-height: 1.5rem;

        ion-icon {
          font-size: 70%;
          margin-top: auto;
        }

        h4 {
          font-size: 70%;
        }
      }

      ion-input {
        background: white;
        border-radius: 5px;
        height: 30px;
        margin: 10px 0px;

        input {
          margin: 5px 10px;
        }
      }

      .buttons {
        border: 2px solid white;
        background-color: rgb(71,119,110);
        border-radius: 7px;
        height: 35px;
        margin: 10px 0px;
        width: 100%;
      }
    }

    .thisFooter {
      background-color: rgb(110,193,179);
    }

    .previous-button {
      background-color: transparent;
      font-size: 1em;
      margin-bottom: 15px;
    }

    .footer-md::before {
      height: 0;
    }
  }
