page-personal-profile {
  text-align: center;
  font-family:  'Montserrat-Regular';
  font-size: 18px;
  color: white;

  .personal-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
  }

  .myNavBar {
    height: 150px;

    .toolbar-background {
      background-color: rgb(71,119,110);
    }

    img {
      width: 90px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .thisContent {
    background-color: rgb(110,193,179);

    .login-form {
      margin: 20px 30px;
    }

    ion-label{
      color:white;
      text-align: left;
    }

    ion-input {
      background: white;
      border-radius: 5px;
      height: 30px;
      margin: 10px 0px;

      input {
        margin: 5px 10px;
      }
    }

    .buttons {
      border: 2px solid white;
      background-color: rgb(71,119,110);
      border-radius: 7px;
      height: 35px;
      margin: 10px 0px;
      width: 100%;
    }

    ion-item-divider{
      background-color: rgb(110,193,179);
      height: 25px !important;
      border-color: rgb(110,193,179);
    }
  }

  .thisFooter {
    background-color: rgb(110,193,179);
  }

  .previous-button {
    background-color: transparent;
    font-size: 1em;
    margin-bottom: 15px;
  }

  .footer-md::before {
    height: 0;
  }

  p {
    color: white;
  }
}
